In [6]:
# Estamos explorando datos simples
dato_num = 8
dato_float = 10.22
dato_booleano_1 = True 
dato_booleano_2 = False 
dato_string = 'Soy Xime'

In [7]:
print(dato_num)
print(type(dato_num))

8
<class 'int'>

In [8]:
print(dato_float)
print(type(dato_float))

10.22
<class 'float'>

In [11]:
print('Los datos son:')
print(dato_booleano_1,dato_booleano_2)
print('')
print('Los tipos de datos son:')
print(type(dato_booleano_1),type(dato_booleano_2))

Los datos son:
True False

Los tipos de datos son:
<class 'bool'> <class 'bool'>

In [12]:
print('Los datos son:')
print(dato_string)
print('')
print('Los tipos de datos son:')
print(type(dato_string))

Los datos son:
Soy Xime

Los tipos de datos son:
<class 'str'>

In [13]:
# Vamos a explorar datos estructurados 
# Diccionario
persona = {'nombre': 'Ximena','edad': 18, 'profesion': 'Actuaria'}

In [15]:
print(persona['nombre'])

Ximena

In [31]:
persona['nombre'] = 'Pepe'

In [32]:
print(persona)

{'nombre': 'Pepe', 'edad': 18, 'profesion': 'Actuaria'}

In [16]:
print(type(persona))

<class 'dict'>

In [18]:
# Listas 
mi_lista = [1,2,3,'cuatro',5.05,'hola']
print(mi_lista)

[1, 2, 3, 'cuatro', 5.05, 'hola']

In [20]:
print(mi_lista[3])

cuatro

In [21]:
print(mi_lista[-1])

hola

In [25]:
print(mi_lista[-2])

5.05

In [35]:
print(mi_lista[1:3])

[2, 3]

In [22]:
# Cantidad de elementos que tiene mi lista 
print(len(mi_lista))

6

In [23]:
# Modificar un elemento de la lista 
mi_lista[3] = 'Cambieeeeeeee'

In [24]:
print(mi_lista)

[1, 2, 3, 'Cambieeeeeeee', 5.05, 'hola']

In [28]:
print(type(mi_lista))

<class 'list'>

In [26]:
# Tupla 
mi_tupla = (1,'dos',3,'cuatrooooo')
print(mi_tupla)

(1, 'dos', 3, 'cuatrooooo')

In [27]:
print(type(mi_tupla))

<class 'tuple'>

In [29]:
print(mi_tupla[0])

1

In [30]:
mi_tupla[0] = 'cambiarlo'

TypeError: 'tuple' object does not support item assignment

# Estructuras de Control 
En este aparatado vamos a aprender cómo es la sintaxis para ejectutar distintas estructuras de control. 

* **FOR:** Es la estructura para hacer bucles.
* **WHILE**
* **IF**

In [36]:
# FOR 
rango = range(1,10)
type(rango)

range

In [37]:
# Exploremos qué elementos tienen 
print('Primer elemento: ',rango[0])
print('Último elemento: ',rango[-1])

Primer elemento:  1
Último elemento:  9

In [43]:
# Programemos el bucle 
for i in rango: 
    a = i + 1
    b = a * i
    print(a, b)

2 2
3 6
4 12
5 20
6 30
7 42
8 56
9 72
10 90

In [44]:
# Programemos un bucle sin sentido
for i in rango: 
    a = 2 + 2
    print(a)

4
4
4
4
4
4
4
4
4

In [45]:
# Recorrer una lista 
for i in mi_lista:
    print(i)

1
2
3
Cambieeeeeeee
5.05
hola

In [47]:
# WHILE 
s = 1
while s <= 10: 
    print(s)
    s = s + 1

1
2
3
4
5
6
7
8
9
10

In [48]:
# IF 
prueba = 10
if prueba < 5:
    print('Es menor a 5')
elif prueba < 9:
    print('Es menor a 9')
else: 
    print('Es mayor o igual a 9')

Es mayor o igual a 9

In [49]:
# FOR + IF 
for i in rango: 
    if i <= 4:
        print('Primer grupo', i)
    elif i <= 6:
        print('otra cosa', i*2)
    else: 
        print('final',i**2)

Primer grupo 1
Primer grupo 2
Primer grupo 3
Primer grupo 4
otra cosa 10
otra cosa 12
final 49
final 64
final 81

# Funciones
Vamos a armar nuestras primeras funciones.

In [50]:
def mi_funcion(argumento_1,argumento_2):
    resultado_1 = argumento_1 * 2
    resultado_2 = argumento_2 / 3 
    resultado_final = resultado_1 - resultado_2 
    return resultado_final

In [51]:
mi_funcion(argumento_1=10,argumento_2=4)

18.666666666666668

In [56]:
def funcion_clasificadora(x):
    
    if x <= 4:
        resultado = 'Primer grupo ' + str(x)
    elif x <= 6:
        resultado = 'otra cosa ' + str(x*2)
    else: 
        resultado = 'final ' + str(x**2)
    
    return resultado

In [59]:
funcion_clasificadora(5)

'otra cosa 10'

In [60]:
for i in rango: 
    print(funcion_clasificadora(i))

Primer grupo 1
Primer grupo 2
Primer grupo 3
Primer grupo 4
otra cosa 10
otra cosa 12
final 49
final 64
final 81