Hola! Este es mi primer Notebook

In [3]:
print("Hola!")

Hola!

print("Hola!")

Datos Simples

In [4]:
numericos_1 = 8
print(numericos_1)
print(type(numericos_1))

8
<class 'int'>

In [5]:
numericos_2 = 8.77
print(numericos_2)
print(type(numericos_2))

8.77
<class 'float'>

In [6]:
booleano_1 = True
booleano_2 = False 
print(booleano_1,booleano_2)
print(type(booleano_1),type(booleano_2))

True False
<class 'bool'> <class 'bool'>

In [7]:
string_1 = "Holaaaaaaaaaa"
print(string_1)
print(type(string_1))

Holaaaaaaaaaa
<class 'str'>

Datos Estructurados

1) Conjuntos

In [8]:
frutas = {"manzana","naranja","frutilla"}
print(frutas)
print(type(frutas))

{'manzana', 'naranja', 'frutilla'}
<class 'set'>

In [9]:
frutas.add("uva")
print(frutas)

{'manzana', 'naranja', 'frutilla', 'uva'}

In [10]:
frutas.add("naranja")
print(frutas)

{'manzana', 'naranja', 'frutilla', 'uva'}

In [12]:
frutas.add("Naranja")
print(frutas)

{'uva', 'frutilla', 'Naranja', 'manzana', 'naranja'}

2) Diccionarios

In [15]:
diccionario_1 = {'elemento_1' : 1,'elemento_2' : 2}

print(diccionario_1)
print(type(diccionario_1))

{'elemento_1': 1, 'elemento_2': 2}
<class 'dict'>

In [17]:
persona = {'nombre' : "Ximena",'edad':18,'profesion':"Actuaria"}
print(persona)

print(persona['nombre'])
print(persona['profesion'])

{'nombre': 'Ximena', 'edad': 18, 'profesion': 'Actuaria'}
Ximena
Actuaria

3) Listas

In [24]:
mi_lista = [1,2,3,"cuatro",5.77]
print(type(mi_lista))

print(mi_lista[0])
print(mi_lista[-1])
print(mi_lista[3])

# Como agregar un elemento a una lista:
mi_lista.append(True)
print(mi_lista)

# Como borrar un elemento de una lista:
del mi_lista[2]
print(mi_lista)

# Como contar cantidad de elementos de una lista: 
print(len(mi_lista))

# Como reemplazar un elemento de una lista:
mi_lista[3] = "cambieeee"
print(mi_lista)

<class 'list'>
1
5.77
cuatro
[1, 2, 3, 'cuatro', 5.77, True]
[1, 2, 'cuatro', 5.77, True]
5
[1, 2, 'cuatro', 'cambieeee', True]

4) Tupla

In [28]:
mi_tupla = (1,"dos",3.5,8)
print(mi_tupla)
print(type(mi_tupla))

print(mi_tupla[2])

# No puedo reemplazar valores 
# mi_tupla[2] = 'cambieeeee'

(1, 'dos', 3.5, 8)
<class 'tuple'>
3.5

Estructuras de control

1) FOR

In [30]:
rangos = range(1,10) 
print(rangos)
print(type(rangos))

range(1, 10)
<class 'range'>

In [31]:
# Inspeccionar elementos: 
print(rangos[0])
print(rangos[-1])

1
9

In [32]:
for i in rangos:
    print(i)

1
2
3
4
5
6
7
8
9

In [33]:
for i in range(1,10) :
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
for x in rangos:
    print(x)

1
2
3
4
5
6
7
8
9

In [38]:
for i in rangos: 
    b = i * 2
    print(b)
    #print(i * 2)

2
4
6
8
10
12
14
16
18

In [36]:
print(b)

18

In [39]:
for i in mi_lista:
    print(i)

1
2
cuatro
cambieeee
True

In [41]:
# Como concateno? 
a = "hola"
b = " que tal"
print(a+b)
c = a + b
print(c)

hola que tal
hola que tal

In [42]:
lenguajes = ["Python","R","Julia"]
for i in lenguajes:
    print("Lenguaje: " + i)

Lenguaje: Python
Lenguaje: R
Lenguaje: Julia

In [45]:
# Como recorro dos listas? 
puestos = ["junior","semi_senior","senior","lider","jefe","gerente"]
sueldos = [100,120,130,200,230,300]
print(type(str(sueldos)))

for x,y in zip(puestos,sueldos):
    print("Sueldo de " + x + ": $" + str(y))

<class 'str'>
Sueldo de junior: $100
Sueldo de semi_senior: $120
Sueldo de senior: $130
Sueldo de lider: $200
Sueldo de jefe: $230
Sueldo de gerente: $300

In [50]:
# Como uso un paquete o libreria? 
#!pip install numpy
import numpy as np 
variacion = np.diff(sueldos, n=1)
print(variacion)

[20 10 70 30 70]

In [57]:
print(puestos[1:])
print(puestos[2:])

for x,y in zip(puestos[1:],variacion):
    print("Ascender a " + x + " equivale a $" + str(y) + " extra")

['semi_senior', 'senior', 'lider', 'jefe', 'gerente']
['senior', 'lider', 'jefe', 'gerente']
Ascender a semi_senior equivale a $20 extra
Ascender a senior equivale a $10 extra
Ascender a lider equivale a $70 extra
Ascender a jefe equivale a $30 extra
Ascender a gerente equivale a $70 extra

2) WHILE

In [58]:
contador = 0
while contador < 5:
    print("Contador: ",contador)
    contador += 1

Contador:  0
Contador:  1
Contador:  2
Contador:  3
Contador:  4

In [59]:
i = 1
while i < 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9