# Importando datos con Pandas

In [2]:
import pandas as pd
import numpy as np
import os

## 1) CSV

In [19]:
# Define el directorio de trabajo a la ruta deseada
nueva_ruta = 'C:\\Users\\usernosis\\OneDrive\\Documentos\\DataSets'
os.chdir(nueva_ruta)

# Levanto el archivo 
df = pd.read_csv("winequality-red.csv",sep = ',')
print(df.head(2))

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70          0.0             1.9      0.076
1            7.8              0.88          0.0             2.6      0.098

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68

   alcohol  quality
0      9.4        5
1      9.8        5

## 2) TXT

In [20]:
# Define el directorio de trabajo a la ruta deseada
nueva_ruta = 'C:\\Users\\usernosis\\OneDrive\\Documentos\\DataSets'
os.chdir(nueva_ruta)

# Levanto el archivo 
df_2 = pd.read_csv("pokemon_data.txt", sep = '\t')
print(df_2.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

## 3) Excel

In [21]:
# Define el directorio de trabajo a la ruta deseada
nueva_ruta = 'C:\\Users\\usernosis\\OneDrive\\Documentos\\DataSets'
os.chdir(nueva_ruta)

# Levanto el archivo 
df_3 = pd.read_excel("defaultoutput.xlsx")
print(df_3.head())

   Unnamed: 0  index    ID  Year_Birth   Education Marital_Status   Income  \
0           0      0  5524        1957  Graduation         Single  58138.0
1           1      1  2174        1954  Graduation         Single  46344.0
2           2      2  4141        1965  Graduation       Together  71613.0
3           3      3  6182        1984  Graduation       Together  26646.0
4           4      4  5324        1981         PhD        Married  58293.0

   Kidhome  Teenhome Dt_Customer  ...  AcceptedCmp5  AcceptedCmp1  \
0        0         0  04-09-2012  ...         False         False
1        1         1  08-03-2014  ...         False         False
2        0         0  21-08-2013  ...         False         False
3        1         0  10-02-2014  ...         False         False
4        1         0  19-01-2014  ...         False         False

   AcceptedCmp2  Complain  Z_CostContact  Z_Revenue  Response  MostExpensive  \
0         False     False              3         11      True          Wines
1         False     False              3         11     False          Wines
2         False     False              3         11     False          Wines
3         False     False              3         11     False   MeatProducts
4         False     False              3         11     False          Wines

   Marital_Status_key  Education_key
0                   0              1
1                   0              1
2                   2              1
3                   2              1
4                   1              0

[5 rows x 34 columns]

## 4) Github

In [3]:
url = 'https://raw.githubusercontent.com/JJTorresDS/stocks-ds-edu/main/stocks.csv'
df_git = pd.read_csv(url, index_col=0)
print(df_git[['AMZN','MCD','SBUX','GOOG','MSFT']].head(5).round(1))

                 AMZN    MCD  SBUX   GOOG  MSFT
formatted_date
2016-01-01      587.0  106.3  54.4  743.0  49.9
2016-02-01      552.5  100.7  52.1  697.8  46.0
2016-03-01      593.6  108.8  53.6  745.0  50.3
2016-04-01      659.6  109.5  50.5  693.0  45.5
2016-05-01      722.8  105.6  49.3  735.7  48.3

# Exploro Titanic

In [22]:
import pandas as pd

nueva_ruta = 'C:\\Users\\usernosis\\OneDrive\\Documentos\\DataSets'
os.chdir(nueva_ruta)

# Levanto el archivo Titanic
df = pd.read_csv("Titanic.csv")
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [23]:
# ¿Cuántos sobrevivieron? 
print(df['Survived'].value_counts())

0    549
1    342
Name: Survived, dtype: int64

In [24]:
# ¿Cuál es la tasa de supervivencia? 
print(df['Survived'].mean())

0.3838383838383838

In [16]:
# ¿Cuál es la tasa de supervivencia? 
df_femeninos = df.loc[df['Sex']=='female',]
df_masc = df.loc[df['Sex']!='female',]
print(df_femeninos['Survived'].mean())
print(df_masc['Survived'].mean())

0.7420382165605095
0.18890814558058924

In [26]:
# Levanto el archivo Houses
df = pd.read_csv("Houses.csv")
print(df.shape)

(1460, 81)